body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000dff;
}

header {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 60px;
  text-align: center; 
}

.main-page header {
  flex-direction: column;
  height: 100vh; 
}

.main-page .header-image {
  max-width: 1000px; 
  margin-bottom: 20px; 
}

.add-employee-page header {
  position: relative;
}

.add-employee-page .header-image {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 200px;
  height: auto;
}

.add-employee-page h1 {
  text-align: center;
  margin-top: 50px;
}

h2 {
  text-align: center;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button, button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  display: inline-block;
}

.button:hover, button:hover {
  background-color: #0056b3;
}

main {
  width: 100%;
  max-width: 600px; 
  margin: 60px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input, select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  margin-top: 20px;
}
